/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#23a3ed;
    background-attachment:fixed;
    font-family: "lato", 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}






#topbar {
	height: 48px;
	background-color: #23a3ed;
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 48px;
	font-weight: 700;
	opacity: 0;
	
}

#mainicon {
	opacity: 0;
	
}

#mainicon img {
	height: 30px;
	position: absolute;
	right: 18px;
	top: 9px;
	
}

#back {
	height: 48px;
	width: 48px;
	background-image: url(../img/arrowleft.png);
	position: absolute;
	top: 0;
	background-size: contain;
	background-repeat: no-repeat;
	
}

body.ios #back {
	top: 12px;
	
}

#container {
	text-align: center;
	transition: 200ms opacity ease-in-out;
	opacity: 0;
	
}

.button {
	color: #23a3ed;
	background-color: #fff;
	padding: 20px 8%;
	font-size: 20px;
	display: inline-block;
	width: 84%;
	font-weight: 400;
	background-image: url(../img/arrowright.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-size: contain;
	text-align: left;
	cursor: pointer;
	
}

.button.simple {
	background-image: none;
	
}

.of {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #fff;
	display: block;
	font-size: 20px;
	text-align: left;
  	padding-left: 8%;
	font-weight: 300;
	
}

.big {
	margin-top: 24px;
	margin-bottom: 24px;
	color: #8e8e8e;
	display: block;
	font-size: 20px;
	
}

.input {
  width: 84%;
  padding: 8%;
  margin: 0;
  border: none;
  color: #fff;
  height: auto;
  text-align: left;
  font-size: 55px;
  border-radius: 0;
  background: transparent;
  letter-spacing: 3px;
  font-weight:300;
}
	

.input:focus {
	outline: none;
	
}

.wordlist {
	display: inline-block;
	width: 49%;
	list-style: none;
	background-color: #fff;
	margin: 0;
	padding: 6px 0;
	font-size: 20px;
	line-height: 35px;
	color: #8e8e8e;
	margin-bottom: 16px;
	text-align: left;
	
}

.wordlist li {
	padding-left: 12px;
	
}

.wordlist li:nth-child(1), .wordlist li:nth-child(5) {
	color: #e3e3e3;
	
}

.wordlist li:nth-child(2), .wordlist li:nth-child(4) {
	color: #c4c4c4;
	
}

#combos {
	margin: 6px 0;
	
}

#combos li {
	font-style: italic;
	color: #8e8e8e;
	font-size: 20px;
	
}

.button.bottom {
	position: absolute;
  	bottom: 0px;
  	left: 0;
	
}

#cam {
	background: black;
	height: 180px;
	width: 85%;
	margin: 7.5%;
	
}

#QR {
	width: 50%;
	
}

#splash {
	text-align: center;
	opacity: 1;
	transition: 1s opacity ease-in-out;
	
}

#logo {
	display: inline-block;
	width: 100%;
	max-width: 256px;
	
}

#logo img {
	width: 100%;
	
}

#splash:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
	
}

#splash #logo {
	vertical-align: middle;
	
}

#splash h1 {
	font-size: 48px;
	color: #fff;
	font-weight: 700;
	
}

#ideas {
	background-color: #fff;
	padding: 12px 0;
	margin: 30px 0;
	
}

#ideas #idea {
	color: #8e8e8e;
	font-size: 32px;
	margin-bottom: 36px;

}

.wordlist > li:nth-child(n+6) {
	display: none;
	
}

textarea {
font-family: "lato", 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;	
}